body {
    background: linear-gradient(120deg, rgb(0, 60, 64), rgb(0, 0, 0), rgb(0, 60, 64));
    margin: 0;
    font-family: Poppins;
    padding-bottom: 50px;
    min-width: 100vw;
}

p {
    font-family: Poppins;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    all:unset;
}

.sitewelcome {
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 20px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logodiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.logo {
    width: clamp(100px, 10vw, 10vw);
    border: 4px double rgb(205, 255, 252);
    border-radius: 50%;
}

.websiteinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex:1;
}

.sitename, .sitetagline {
    color: white;
}

.sitename {
    font-size: clamp(25px, 3.7vw, 80px);
    font-weight: 700;
    line-height: 70px;
    white-space: nowrap;
}

.sitetagline {
    color:rgb(255, 255, 255);
    font-size: clamp(10px, 1vw, 15px);
    padding: 5px 15px;
    background-color: rgba(2, 162, 162, 0.7);
    font-weight: 500;
    border:none;
    border-radius: 20px;
    text-align: center;
    margin-top: -10px;
}

.search-section {
    display: flex;
    margin: 0 20px;
}

.searchbox {
    font-family: Poppins;
    padding: 10px;
    padding-left: 20px;
    padding-right: 70px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 5px solid rgb(2, 162, 162);
}

.searchbutton {
    background-color: rgba(2, 162, 162);
    border: 5px solid rgb(2, 162, 162);
    border-left: none;
    margin-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: background-color 0.2s;
}

.searchbutton:hover {
    background-color: rgb(0, 60, 64);
}

.searchicon {
    height: 20px;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 5px;
    
}

.searchbox:focus, .searchbox:hover{
    background-color: rgb(0, 60, 64);
    color: white;
}

.searchbox:focus::placeholder{
    color: white;
}

.tabs {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    row-gap: 3px;
}

@media (max-width: 970px) {
    .tabs {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

.tabs button {
    font-size: 14px;
    font-weight: 700;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    background: linear-gradient(120deg, rgb(0, 60, 64), rgb(0, 132, 134), rgb(0,0,0));
    flex: 1; 
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    border-radius: 20px;
    margin: 0 5px;
}

.tabs button:hover{
    background: white;
    color:rgba(1, 62, 62, 1);
    border: 2px solid rgba(1, 62, 62, 1);
    border-radius: 20px;
}

marquee {
    background-color: white;
    color:rgb(0, 60, 64);
    font-weight: 600;
    margin-bottom: 40px;
}

.sidebar {
    background: linear-gradient(120deg, rgb(0, 60, 64), rgb(0, 132, 134), rgb(0,0,0));
    display: flex;
    flex-direction: column;
    position: fixed;
    right:0;
    height: 370px;
    width: 120px;
    border:3px solid white;
    border-right: none;
    justify-content: center;
    align-items: center;
}

.filtertext {
    height: 20px;
    margin-top: 10px;
    color: white;
    font-weight: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sidebar button{
    flex:1;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 0 12px;
    border: 2px solid black;
    /* border: 2px solid transparent; */
    background: linear-gradient(180deg, rgb(0, 60, 64), rgb(0, 172, 170));
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s;
}

.sidebar button:hover{
    background: linear-gradient(90deg, rgb(0, 60, 64), rgb(0, 0, 0));
    border: 2px solid white;
}

.sidebar button img{
    height:30px;
}

@media (max-width: 480px) {
    .searchbox {
        width: 70%;
        padding-right: 20px;
    }
}

@media (max-width: 480px) {
    .tabs {
        grid-template-columns: 1fr 1fr;
    }
}